apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: project1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: project1-backend:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: DB_HOST
          value: mysql
        - name: DB_PASSWORD
          value: rootpassword
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: project1
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 3000
